*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  display: flex;
}
:root{
    --col1:rgb(224, 216, 216);


}
.div0{

  background-color: gray;
  width: 100%;
  height: 70px;
 
}
.ul1{
        list-style-type: none;
       float: right;
       margin-left: 550px;
       margin-top: 20px;
        
    }
    .l1,.a1{
        text-decoration: none;
        display: inline;
        padding: 25px;
        text-transform: capitalize;
        
        
}