*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    margin-top: 10px;
      border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
header>nav{
    display: flex;justify-content: space-between;
    margin: 20px;
  
}
nav{
    font-size: 17px;
    /* margin-top: 5px; */
    margin: 20px;
}
nav>span>sub , span>i{
    color: rgb(2, 100, 2);
}
nav>span , span>sub{
    /* font-weight: bolder; */
    font-size: 20px;
    font-style: italic;
    color: rgb(46, 187, 81);
    padding: 2px;
    text-shadow: 1px 1px 2px ghostwhite;

}
nav>span {
    margin-left: 30px;
}
nav>ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    
    
}
nav>ul>li>a{
    padding: 5px;
    margin: 10px;
    color: gray;
   padding-left: 20px;
    text-shadow: 1px 1px 2px ghostwhite;
}
ul>li>a:hover{
    text-decoration: none;
    color: tomato;
    transition: 1s;
}
.hinp{
    width: 250px;
    background-color: #fff;
    border-style: none;
    padding-left: 10px;
    padding: 5px;
    color: black;
    outline-style: none;
    
}
.hbtn{
    color: gray;
    border-style: none;
    background-color: #fff;
    padding: 5px;
}
.search_form{
    border: 1px solid gray;
    padding: 5px;
    border-radius: 10px;
    margin-top: -10px;
}
.s1{
    margin: 30px;
    display: flex;
    justify-content: center;
}
.s2{
  text-align: center;
}
.s2>h1{
    font-size: 60px;
    font-weight: bolder;
}
.s2>h5{
    margin-top: 20px;
    width: 820px;
    margin-left: 260px;
    color: gray;
   

}
.s3d2{
    width: 600px;
    border: 2px solid lightgrey;
    /* box-shadow: 1px 1px 2px gray; */
    border-radius: 10px;
    text-align: center;
    margin: 20px;
}
.s3{
    margin-top: 50px;
}
.s3d1{
    display: flex;
    justify-content: center;
    /* margin: 50px; */
}

.s3d2>button{
    width: 120px;
    padding: 5px;
    color: green;
    background-color: transparent;
    margin: 10px;
    border: 1px solid gray;
    outline: none;

}
.s3d4{
    margin-top: -15px;
    padding-bottom: 20px;
}
.s3d4>img{
    opacity: 0.9;
    
}
.s3d5{
    margin-top: 40px;
    font-size: 25px;
    color: rgb(145, 145, 145);
    
}
.s3d5>input{
    border-style: none;
    border-bottom: 2px solid gray;
    width: 100px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    outline-style: none;
}
.s3d2>.b1{
    width: 60px;
    padding: 5px;
    color: green;
    background-color: transparent;
    margin: 10px;
    border: 1px solid gray;
}

#height_ft > .s3d5 > input{
    width: 70px;
    text-align: center;
}
#height_ft {
    display: none;
}

.s3d6{
    margin: 30px;
    text-align: center;
    border: 2px ;
    border: 2px solid lightgrey;
    border-radius: 10px;
}
.s3d8{
    display: flex;
    justify-content: space-around;
}
.b2{
   width: 200px;
    padding: 5px;
    color: green;
    background-color: transparent;
    margin: 10px;
    border: 1px solid gray;
    
}
.b1:focus{
    background-color: lightcyan;
}

.s3d6img{
    margin-top: -30px;
    /* padding-bottom: 20px; */
    opacity: 0.9;
}
.s3d9{
    display: flex;
    justify-content: center;
}
.s3d9>button{
     padding: 10px;
    color: #fff;
    background-color: rgb(2, 119, 2);
    margin: 10px;
    border: 1px solid gray;
    outline: none;
    font-size: 17px;
    border-radius: 10px;
}
.s3d9>button:active{
    color: #fff;
    background-color: rgb(18, 211, 92);
    outline: none;
}
.s4{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.s4>p{
    width: 900px;
    font-size: 20px;
    text-align: justify;
}
.s5{
    margin: 50px 30px 30px 30px;
    display: flex;
    justify-content: space-between;
    background-color: lightcyan;
    padding: 50px;
    border-radius: 20px;
    
}
.s5d1>h2{
    font-size: 40px;
    color: darkgreen;
    font-weight: bold;
}
.s5d1>p{
    font-size: 27px;
    color: darkgreen;
}
.s5d1>button{
     padding: 10px;
     width: 300px;
     text-align: center;
    color: #fff;
    background-color: rgb(5, 165, 5);
    margin: 10px;
    border: 1px solid gray;
    outline: none;
    font-size: 17px;
    border-radius: 10px;
}
.s5d1>button:active{
    color: #fff;
    background-color: rgb(18, 211, 92);
    outline: none;
}
.s5d2{
    margin-right: -45px;
}
.s5d2>img{
    border-radius: 10px;
    box-shadow: 2px 2px 5px lightgray;
}
footer>div{
    border-bottom: 1px solid gray;
    margin: 50px;
    box-shadow: 1px 1px 2px lightblue;
}
footer>pre{
    text-align: center;
    text-shadow: 1px 1px 5px lightblue;

    
}

